@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 400px;
}

.input-grid {
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    width: 100%;
}

.element {
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    width: 100%;
}

.a {
    background-color: #294078;
    display: block;
    text-decoration: white;
    text-align: center;
}

.sidebar {
    background-color: #294078;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.delete-button {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    background-color: red;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
    height: 3vh;
}

.delete-button:hover {
    background-color: #e37878;
}

.enrolled-button {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    background-color: green;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
    height: 3vh;
}

.enrolled-button:hover {
    background-color: #15c266;
}

.add-button {
    border-radius: 20px;
    border: 1px solid green;
    background-color: green;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
}

.add-button:hover {
    background-color: #15c266;
}

.register-button {
    border-radius: 20px;
    border: 1px solid #294078;
    background-color: #294078;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
}

.register-button:hover {
    background-color: #5f8ed9;
}

.table-button {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    background-color: #294078;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: fit-content;
    height: 3vh;
}

.table-button:hover {
    background-color: #5f8ed9;
}

.grid-button {
    border: 1px solid #294078;
    background-color: #294078;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: 19.5vw;
}

button:hover {
    background-color: #5f8ed9;
}

.error-text {
    font-size: 14px;
    color: red;
    padding-top: 2%;
    padding-bottom: 2%;
}

.table-button-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anchor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    text-align: center;
    background-color: #294078;
    width: 100%;
    color: white;
    padding-bottom: 12px;
    padding-top: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.anchor:hover {
    background-color: #5f8ed9;
}

.fade-out {
    animation: fadeOut ease 4s;
    color: green;
}