@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.content-table {
    text-align: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #294078;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    text-align: center;
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #294078;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #294078;
}

.item:hover {
    color: #294078;
    cursor: pointer;
}